@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
        text-align: left;
        margin: 0 auto;
        max-width: 320px;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}